<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwizSales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline" />
      </layout>
      <!--<filter type="log4net.Filter.DenyAllFilter" />-->
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="GeneralLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>-->
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="OpenPOSDbEntities" connectionString="metadata=res://*/Model.SwizModel.csdl|res://*/Model.SwizModel.ssdl|res://*/Model.SwizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=OpenPOSDb2.2_new;User Id=sa;Password=fusion@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <SwizSales.Properties.Settings>
      <setting name="Culture" serializeAs="String">
        <value>en-IN</value>
      </setting>
      <setting name="CurrencySymbol" serializeAs="String">
        <value>`</value>
      </setting>
      <setting name="CurrencyDecimalDigits" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TotalRoundOff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPrint" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomerPointsAmount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TicketWidth" serializeAs="String">
        <value>303</value>
      </setting>
      <setting name="TicketHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReportWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="ReportHeight" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="TicketPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="BarcodePrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="LineHeight" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ExtraHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="DefaultEmployeeId" serializeAs="String">
        <value>9dcd414d-156c-4465-89ed-095e5bb3d88a</value>
      </setting>
      <setting name="DefaultCustomerId" serializeAs="String">
        <value>b004dfc3-e53f-4e6b-952f-67ceae170da6</value>
      </setting>
      <setting name="DefaultCategoryId" serializeAs="String">
        <value>25125713-62be-4927-8623-b784c49cb01a</value>
      </setting>
      <setting name="DefaultTaxCategoryId" serializeAs="String">
        <value>8cd9785e-f59c-4013-8c9c-fdde4b144738</value>
      </setting>
      <setting name="PurchaseDiscount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BackupFolderPath" serializeAs="String">
        <value />
      </setting>
    </SwizSales.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>